*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 80vh;
    /* border-bottom: 15px solid rgb(22, 130, 3); */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
/* .pipe{   NORMAL
    position: absolute;
    bottom: 0; 
    width: 60px;
    animation: pipe-animation 1.5s infinite linear;
} */
.pipe{
    position: absolute;
    bottom: 0; 
    width: 60px;
    
}
.mario{
    width: 150px;
    bottom: 0;
    position: absolute;
}
.jump{
    animation: mario-jump 500ms ease-out;
}
.clouds{
    width: 400px;
    position: absolute;
    animation: clouds 20s infinite linear;
}
.box-piso{
    background-image: url(/img/piso.png);
    bottom: 0px;
    width: 100%;
    height: 30vh;
    background-size: cover;
    position: absolute;
}
/* .chaoMario{
    width: 100%;
    height: 50px;
    background-attachment: fixed;
    
} */
.div-box-btn{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba( 0, 0, 0, 0.8);
    flex-direction: column;
} 
.div-box-btn-visible{
    display: flex;
    position: absolute;
    
}
.massage-button{
    display: flex;
    font-size: 2.5rem;
    background-color: rgb(52, 192, 10);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
    
}
.massage-button:hover{
    background-color: white;
    color: rgba(65,185,131,1);
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes mario-jump{
    0%{
        bottom: 64px;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 64px;
    }
}

@keyframes clouds{
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}


footer {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  
  .text-footer {
    /* position: absolute; */
    text-align: center;
    font-size: 1.0rem;
    color: rgb(255, 255, 255);
  }